mixin blogItem(blogDataList)
    each blogData in blogDataList
        .blog-item
            img.blog__img.img-fluid.w-100(src=blogData.imageSrc, alt=blogData.imageAlt)
            .blog__title
                h5.text-uppercase.my-3= blogData.title
            .blog__des.my-2
                span.blog__date.pe-5= blogData.date
                span.blog__author.pe-5
                    i.bi.bi-person-fill
                    span Đăng bởi 
                    span.text-primary= blogData.author
                span.blog__comments.pe-5
                    i.bi.bi-wechat
                    span= blogData.comments + ' Bình luận'
            .blog__content.display-7
                span= blogData.content
                span.text-primary= blogData.link
                    
