mixin carousel(images)
  .carousel.slide.col-lg-8.p-0(data-bs-ride="carousel", id="myCarousel")
    .carousel-inner
      each image, index in images
        .carousel-item(class=index === 0 ? "active" : "")
          img.img-fluid.carousel__img.w-100(src=image.src, alt=image.alt)

    .carousel-indicators.d-flex.justify-content-center.mt-3.carousel__btn
      each image, index in images
        button.btn.btn__slider__item(
          type="button", 
          data-bs-target="#myCarousel", 
          data-bs-slide-to=index, 
          class=index === 0 ? "active" : "", 
          aria-current=index === 0, 
          aria-label=`Slide ${index + 1}`
        )
